:root {

}
* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
/*header style start*/
header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
header h1 {
    margin: 0;
}
header a {
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
/*header style end*/

/*hero style start*/
.hero {

}
/*hero sub style start*/
.hero-sub {

}
/*hero sub style end*/
/*hero style end*/

/*content style start*/
.content {
    display: flex;
}
.content-heading {
    margin: 50px 35px;
    padding: 50px 0 50px 50px;
    width: 15%;
}
.summary {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    border-left: solid 1px black;
    padding: 10px 15px;
    margin-bottom: 15px;
}
/*work style start*/
.work-links {
    border-left: solid 1px black;
    padding: 10px 15px;
    margin-bottom: 15px;

}
.work-title {

}
/*work style end*/
/*contact style start*/
.contact-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: solid 1px black;
}
.contact-links h4 {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
/*contact style end*/
/*content style end*/

/*footer style start*/
/*footer style end*/
@media screen {

}
@media screen {
    
}
