:root {
--primary-color:var(--primary-color);
--secondary-color:var(--secondary-color);
--tertiary-color:var(--tertiary-color);
}
* {
    margin: 0;
    padding:0;
}
body {
    font-family: 'Lora', serif;
}
h1, h2, h3, h4, h5, h6, li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
/*header style start*/
header {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: black;
    color: white;
   
}

header div {
    background-color: white;
    color: black;
    border: black, solid, 1px;
    height: 80%;

}
header h1 {
    margin: 0;
}
header a {
    text-decoration: none;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 2.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
}
/*header style end*/

/*hero style start*/
.hero {
    background-image:url("../assets/images/roozbeh-eslami-YlVjrBkfXt8-unsplash.jpg");
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content:flex-end;
    background-size: cover;
    width: 100vw;
    height: 30vw;
    z-index: -1;
}
.avatar {

}
/*hero sub style start*/
.hero-sub {
    width: 30%;
    background-color: white;
    margin-bottom: 30px;
}
/*hero sub style end*/
/*hero style end*/

/*content style start*/
.content {
    display: flex;
    margin: 20px 0;
}
.content-heading {
    margin: 50px 45px;
    padding: 50px 50px;
    width: 15%;
    background-color: white;
    color: black;
}
.summary {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    border-left: solid 5px black;
    padding: 10px 15px;
    margin-bottom: 15px;
}
/*work style start*/
.work-links {
    border-left: solid 5px black;
    padding: 10px 15px;
    margin-bottom: 15px;

}
.feature {
    border: black solid, 3px;
}
.not-feature {
    border: black solid, 3px;
}
.work-title {
    background-color: orange;
    color: black;
    border: black solid 1px;

}
/*work style end*/
/*contact style start*/
.contact-links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-left: solid 5px black;
    margin-bottom: 20px;
}
.contact-links h4 {
    padding: 10px 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    color: white;
}
/*contact style end*/
/*content style end*/

/*footer style start*/
/*footer style end*/
@media screen {

}
@media screen {
    
}
